*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/dictionaries
/.idea/vcs.xml
/.idea/misc.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/modules.xml
/.idea/caches
/.idea/navEditor.xml
.DS_Store
/build
/captures
/geom/build
/maps-release/build
.idea
/geomaster/build
