<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rnd.jyong.notificationsaver">

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Addmob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1549026857562864~4814546127"/>

        <!--Activitys-->
        <activity
            android:name=".view.ui.InitActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.ui.IgnoreListActivity"
            android:theme="@style/WhiteActinBarTheme"/>
        <activity
            android:name=".view.ui.RoomListActivity"
            android:theme="@style/WhiteActinBarTheme"/>
        <activity
            android:name=".view.ui.MainActivity"
            android:theme="@style/WhiteActinBarTheme"/>

        <!--Services-->
        <service
            android:name=".service.NotificationListenerService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>